@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------------------- HEADER --------------------------------------------------*/
body{
    font-family: "Josefin Sans", sans-serif;
}

.nav-wraper{
    width: 100%;
    margin: 0;
    padding: 0;
    position: sticky;
    top:0;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #76453B;
    color: white;
    .menu-nav{
        display: flex;
        list-style: none; 
        gap: 3.75rem;
        margin-right: 1.25rem;
        li{
            a{
                text-decoration: none;
                color: white;
                font-size: 25px;
                &:hover{  
                    color:rgba(55, 166, 142, 0.682);
                    text-decoration: underline;
                }
            }
        }
    }
    #toggle, label{
        display: none;
    }
}

/*-------------------------------------- FOOTER ------------------------------------------------- */
.footer-grid{
    width: 100%;
    background-color: #43766C;
}

.first-group{
    width: 100%;
    max-width: 1024px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    padding: 45px 0px;
}

.box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box figure img{
    width: 270px;
}

.box h2{
    color: #FFFFFF;
    margin-bottom: 25px;
    font-size: 25px;
}

.box p{
    color: #efefef;
    margin-bottom: 10px;
}

.social-network a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #FFFFFF;
    margin-right: 10px;
    background-color: #26554C;
    text-align: center;
    transition: all 300ms ease;
}

.social-network a:hover{
    color: #1A64D3;
}

.second-group{
    background-color: #294E47;
    padding: 15px 10px;
    text-align: center;
    color: #FFFFFF;
}

.second-group small{
    font-size: 15px;
}