//Base
@import "./base/reset";

//Layout
@import "./layout/index";
@import "./layout/habitaciones";
@import "./layout/gastronomia";
@import "./layout/excursiones";
@import "./layout/reservar";
@import "./layout/header";
@import "./layout/footer";

@media (max-width:1024px){
    /* ----- HEADER ----- */
    nav{
        .logo{
            width: 18%;
            height: 18%;
        }
        .menu-nav{
            gap: 30px;
            li{
                a{
                    font-size: 24px;
                }
            }
        }
    }
    /* ----- INICIO ----- */
    /* ----- HABITACIONES ----- */
    /* ----- GASTRONOMIA ----- */
    /* ----- EXCURSIONES ----- */
    .image-background-excursions {
        width: 1024px;
        img{
            width: 100%;
        }
    }

    .introduction-excursions-grid{
        grid-template-columns: 90%;
    }

    .salinas-grandes-two{
        font-size: 20px;
    }

    .available-promotions-grid{
        grid-template-columns: repeat(3,320px);
        grid-template-rows: 40px 300px 40px 200px;
    }
    /* ----- RESERVAR ----- */
}

@media (max-width:768px){
    /* ----- HEADER ----- */
    nav{
        .logo{
            width: 18%;
            height: 18%;
        }
        .menu-nav{
            gap: 30px;
            li{
                a{
                    font-size: 18px;
                }
            }
        }
    }

    /* ----- INDEX ----- */
    .main-back{
        width: 100%;
        height: 400px;
        align-items: center;
        h1{
            font-size: 58px;
        }
        h2{
            font-size: 20px;
        }
    }

    .main-sections-grid{
        grid-template-rows: 60px repeat(3,110px);
        .main-section-3{
            font-size: 15px;
        }
        
        .main-section-4{
            font-size: 15px;
        }
    }

    .clients-section-grid{
        grid-template-areas: 
        "client-section-1 client-section-1 client-section-1 client-section-1 client-section-1"
        "client-section-2 client-section-3 client-section-4 client-section-5 client-section-6"
        ". client-section-7 client-section-7 . ."
        ;
        .client-section-five {
            display: none;
        }
    }
    
    /* ----- HABITACIONES ----- */
    .text-section-one{
        font-size: 16px;
    }

    .text-section-two{
        font-size: 17px;
    }

    .premium-room-section-three, .standard-room-section-three{
        font-size: 16px;
    }

    .premium-room-section-four, .standard-room-section-four{
        font-size: 13px;
    }
    
    .premium-room-section-five, .standard-room-section-five{
        input {
            height: 70%;
            width: 55%;
        }
    }

    /* ----- GASTRONOMIA ----- */
    .gastronomic-experience-grid{
        width: 768px;
        height: 450px;
        grid-template-columns: repeat(2,350px);
        grid-template-rows: 40px repeat(2,25px) 40px repeat(2,125px);
        /* background-color: #789461; */
        column-gap: 10px; 
        row-gap: 8px; 

        .gastronomic-experience-two{
            font-size: 18px;
        }
    
        .gastronomic-experience-five{
            font-size: 18px;
        }
    }

    .regional-service-grid{
        width: 768px;
        grid-template-columns: repeat(2,300px);

        .regional-service-one{
            grid-column: 1/3;    
        }
    
        .regional-service-two{
            grid-column: 1/3;
            font-size: 25px; 
        }
    
        .regional-service-five{
            display: none;
        }
    
        .regional-service-six{
            grid-column: 1/3;
            font-size: 18px;
        }
    
        .regional-service-seven{
            grid-column: 1/3;
            font-size: 25px; 
        }
    
        .regional-service-ten{
            display: none;
        }
    
        .regional-service-eleven{
            grid-column: 1/3;
            font-size: 18px;
        }
    }

    /* ----- EXCURSIONES ----- */
    .introduction-excursions-grid{
        height: 150px;
        grid-template-rows: 55px 70px;
        row-gap: 10px;

        .introduction-excursions-one{
            text-align: center;
        }
        
        .introduction-excursions-two{
            font-size: 19px;
        }
    }

    .salinas-grandes-grid{
        grid-template-columns: 440px 290px;

        .salinas-grandes-two{
            font-size: 18px;
        }
    
        .salinas-grandes-four{
            h3{
                font-size: 21px;
            }
            
            p{
                font-size: 18px;
            }
            
            ul{
                font-size: 18px;
            }
        }
    }
    
    .available-promotions-grid{
        grid-template-columns: repeat(2,360px);
        grid-template-rows: 40px 300px 40px 140px;

        .available-promotions-eight, .available-promotions-nine,
        .available-promotions-ten{
            display: none;
        }
        
        .available-promotions-seven, .available-promotions-ten{
            font-size: 18px;
        }
    }

    /* ----- RESERVAR ----- */
    .book-room-grid {
        grid-template-columns: minmax(0, 0.4fr) minmax(0, 8fr) minmax(0, 6fr) minmax(0, 0.4fr);
        
        .book-room-two {
            font-size: 49px;
            margin-top: auto;
        }

        .book-room-four{
            .book-card-grid{
                .book-card-title {
                    font-size: 16px;
                }
                .book-card-one, .book-card-three, .book-card-five, .book-card-seven, .book-card-nine{
                    font-size: 15px;
                }  
            
                .book-card-eleven {
                    grid-column: 1/3;
                }
            }
        }
    }
    
    .contact-us-grid{
        .contact-us-one{
            font-size: 34px;
        }
        .contact-us-two, .contact-us-three label, .contact-us-four label, .contact-us-five label,
        .contact-us-six label, .contact-us-seven label, .contact-us-eight label, 
        .contact-us-nine label{
            font-size: 19px;
        } 

        .contact-us-ten{
            height: 60%;
        }
    }    
    .payment-methods-grid{
        .payment-methods-one{
            font-size: 34px;
        }
    }

    /* ---- FOOTER ---- */
    .footer-grid{
        .first-group{
            width: 90%;
            grid-template-columns: repeat(1,1fr);
            grid-gap: 30px;
            padding: 35px 0px;
            .box {
                text-align: center;
            }
        }  
    }
    
}

@media (max-width:320px){    
    /* ----- HEADER ----- */
    header{
        width: 100%;
        position: fixed;
    }

    nav{
        .logo{
            width: 25%;
            height: 25%;
        }
        #toggle:checked ~ .menu-bar{
            height: 100%;
        }
        label{
            display: inline-flex;
            cursor: pointer;
            padding-right: 5px;
        }
        .menu-bar{
            width: 100%;
            height: 0;
            overflow: hidden;
            ul{
                flex-direction: column;
                align-items: center;
                padding: 8px 0;
            }
        }
    }
    
    /* ---- INDEX ---- */
    .main-back{
        width: 100%;
        height: 400px;
        align-items: center;
        h1{
            font-size: 35px;
        }
    
        h2{
            font-size: 11px;
        }
    }
    
    .main-sections-grid{
        grid-template-rows: 60px repeat(6,75px);
        grid-template-areas: 
        "section-1 section-1 section-1 section-1"
        "section-2 section-2 section-2 section-2"
        "section-2 section-2 section-2 section-2"
        "section-3 section-3 section-3 section-3"
        "section-5 section-5 section-5 section-5"
        "section-5 section-5 section-5 section-5"
        "section-4 section-4 section-4 section-4"
        ;
        gap: 12px;

        .main-section-1{
            font-size: 15px;
        }

        .main-section-3{
            font-size: 12px;
            margin-top: 20px;
        }

        .main-section-4{
            font-size: 12px;
        }
        
        .main-section-5{
            margin-top: 20px;
        }
    }

    .clients-section-grid{
        grid-template-areas: 
        "client-section-1 client-section-1 client-section-1 client-section-1 client-section-1"
        "client-section-2 client-section-3 client-section-4 client-section-5 client-section-6"
        ". . client-section-7 . ."
        ;

        .client-section-one{
            font-size: 14px;
        }
    
        .client-section-two, .client-section-three, 
        .client-section-five , .client-section-six{
            display: none;
        }

        .client-section-seven img{
            width: 70%;
            height: 80%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .client-testimony-section-grid{
        .client-testimony-section-two{
            p{
                font-size: 23px;
            }
        } 
    
        .client-testimony-section-three{
            img{
                width: 70%;
                height: 75%;
            }
        }
    
        .client-testimony-section-four{
            p{
                font-size: 20px;
            }
        } 
    }
    
    /* ----- HABITACIONES ----- */
    .text-section-grid{
        .text-section-one, .text-section-three{
            font-size: 12px;
            text-align: center;
        }
    
        .text-section-two{
            font-size: 13px;
        }
    }
    
    .premium-room-section-grid{
        .premium-room-section-three{
            font-size: 12px;
        }
    
        .premium-room-section-four{
            font-size: 9px;
        }
        
        .premium-room-section-five{
            input{
                height: 60%;
                width: 45%;
            }
        } 
    }

    .standard-room-section-grid{
        .standard-room-section-three{
            font-size: 12px;
        }
    
        .standard-room-section-four{
            font-size: 9px;
        }
        
        .standard-room-section-five{
            input {
                height: 60%;
                width: 45%;
            }
        } 
    }
    
    /* ----- GASTRONOMIA ----- */
    .gastronomic-experience-grid{
        width: 320px;
        height: 600px;
        grid-template-columns: 300px;
        grid-template-rows: 40px 70px 45px repeat(3,60px) 180px;
        .gastronomic-experience-one{
            grid-column: 1/2;
            grid-row: 1/2;
            font-size: 17px; 
        }
    
        .gastronomic-experience-two{
            grid-column: 1/2;
            grid-row: 2/3;
            font-size: 14px;
        }
    
        .gastronomic-experience-three{
            grid-column: 1/2;
            grid-row: 3/4;
            font-size: 15px;
            align-self: center;
        }
    
        .gastronomic-experience-four{
            grid-column: 1/2;
            grid-row: 4/7;
            width: 95%;
            height: 95%;
            margin: 0 auto;
        }
    
        .gastronomic-experience-five{
            grid-column: 1/2;
            grid-row: 7/8;
            font-size: 14px;
        }
    }

    .regional-service-grid{
        width: 320px;
        height: 900px;
        grid-template-columns: 300px;
        grid-template-rows: 40px 30px 220px 120px 30px 220px 120px;

        .regional-service-one{
            grid-column: 1/2;    
            font-size: 20px; 
        }
    
        .regional-service-two{
            grid-column: 1/2;
            font-size: 18px; 
        }
    
        .regional-service-four{
            display: none;
        }
    
        .regional-service-five{
            display: none;
        }
    
        .regional-service-six{
            grid-column: 1/2;
            font-size: 14px;
        }
    
        .regional-service-seven{
            grid-column: 1/2;
            font-size: 18px; 
        }
    
        .regional-service-nine{
            display: none;
        }
    
        .regional-service-ten{
            display: none;
        }
    
        .regional-service-eleven{
            grid-column: 1/2;
            font-size: 14px;
        }
    }

    /* ----- EXCURSIONES ----- */
    .introduction-excursions-grid{
        grid-template-rows: 60px 70px;
        row-gap: 10px;

        .introduction-excursions-one{
            font-size: 18px;
            text-align: center;
        }
    
        .introduction-excursions-two{
            font-size: 15px;
        }
    }

    .salinas-grandes-grid{
        grid-template-columns: 300px;
        grid-template-rows: 60px 150px 350px 250px;

        .salinas-grandes-one{
            grid-column: 1/2;
            grid-row: 1/2;
            font-size: 18px;
        }
        
        .salinas-grandes-two{
            grid-column: 1/2;
            grid-row: 2/3;
            font-size: 15px;
            justify-self: center;
            align-content: center; 
            text-align: center;
        }
        
        .salinas-grandes-three{
            grid-column: 1/2;
            grid-row: 3/4;
            width: 100%;
        }
        
        .salinas-grandes-four{
            grid-column: 1/2;
            grid-row: 4/5;

            h3{
                font-size: 18px;
            }
            
            p{
                font-size: 15px;
            }
            
            ul{
                font-size: 15px;
            }
        }
    }

    .available-promotions-grid{
        grid-template-columns: repeat(3,290px);
        grid-template-rows: 40px 300px 40px 120px;

        .available-promotions-two, .available-promotions-three,
        .available-promotions-four, .available-promotions-eight,
        .available-promotions-nine, .available-promotions-ten{
            display: none;
        }

        .available-promotions-one{
            font-size: 19px;
        }

        .available-promotions-six{
            font-size: 18px;
        }

        .available-promotions-seven{
            font-size: 15px;
        }
    }

    /* ----- RESERVAR ----- */
    .book-room-grid{
        grid-template-rows: 100px 75px 140px 120px 130px;

        .book-room-two{
            grid-column: 2/4;
            grid-row: 1/2;
            font-size: 35px;
            text-align: center;
        }
        
        .book-room-three{
            grid-column: 2/4;
            grid-row: 2/3;
            color: white;
            font-size: 20px;
            text-align: center;
        }
    
        .book-room-four {
            height: 90%; 
            grid-column: 2 / 4;
            grid-row: 3 / 6;
        }
    }
    
    .contact-us-grid{
        /* width: auto; */
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 70px repeat(4, 65px) 110px repeat(8, 75px);

        .contact-us-two{
            grid-column: 1/2;
            grid-row: 6/7;
            align-content: center;
        }
    
        .contact-us-three{
            grid-column: 1/2;
            grid-row: 7/8;
        }
    
        .contact-us-four{
            grid-column: 1/2;
            grid-row: 8/9;
        }
    
        .contact-us-five{
            grid-column: 1/2;
            grid-row: 9/10;
        }
    
        .contact-us-six{
            grid-column: 1/2;
            grid-row: 10/11;
        }
    
        .contact-us-seven{
            grid-column: 1/2;
            grid-row: 11/12;
        }
    
        .contact-us-eight{
            grid-column: 1/2;
            grid-row: 12/13;
        }
    
        .contact-us-nine{
            grid-column: 1/2;
            grid-row: 13/14;
        }
    
        .contact-us-ten{
            grid-column: 1/2;
            grid-row: 14/15;
        }
    
        .contact-us-eleven{
            grid-column: 1/2;
            grid-row: 2/6;
        }
    }

    .payment-methods-grid{
        grid-template-rows: 80px 150px;
    }
}