.image-background-excursions{
    img{
        width: 100%; 
        height: auto; 
        max-width: 100%;
    }
}

.introduction-excursions-grid{
    @include grid(
        1fr,
        repeat(2,3.125rem),
        center,
        center,
        none
    );
    width: 100%;
    height: 9.375rem;

    .introduction-excursions-one{
        grid-column: 1/2;
        grid-row: 1/2;
        font-size: 1.5625rem;
        justify-self: center;
        align-content: center;
        text-align: center;
    }
    
    .introduction-excursions-two{
        @extend .introduction-excursions-one;
        grid-row: 2/3;
        font-size: 1.3125rem;
    }
}

.salinas-grandes-grid{
    @include grid(
        31.25rem 21.875rem,
        4.375rem 6.875rem 23.125rem,
        center,
        center,
        none
    );
    width: 100%;
    column-gap: .9375rem;
    row-gap: .3125rem;

    .salinas-grandes-one{
        grid-column: 1/3;
        grid-row: 1/2;
        font-size: 1.4375rem;
        justify-self: center;
        align-content: center;
        text-align: center;
    }
    
    .salinas-grandes-two{
        @extend .salinas-grandes-one;
        font-size: 1.3125rem;
        grid-row: 2/3;
    }
    
    .salinas-grandes-three{
        grid-column: 1/2;
        grid-row: 3/4;
        width: 100%;
    }
    
    .salinas-grandes-four{
        grid-column: 2/3;
        grid-row: 3/4;
        h3{
            font-size: 1.4375rem;
            margin-bottom: 1.25rem;
        }
        p{
            font-size: 1.25rem;
            margin-bottom: .9375rem;
        }
        ul{
            font-size: 1.25rem;
            margin-bottom: 1.25rem;
            list-style-position: inside; 
        }
    }
}

.available-promotions-grid{
    @include grid(
        repeat(3,25rem),
        2.5rem 18.75rem 2.5rem 7.5rem,
        center,
        none,
        none
    );
    width: 100%;
    height: 37.5rem;
    column-gap: .625rem;

    .available-promotions-one{
        grid-column: 1/4;
        grid-row: 1/2;
        font-size: 1.5625rem;
        justify-self: center;
        align-content: center; 
    }
    
    .available-promotions-two{
        grid-column: 1/2;
        grid-row: 2/3;
        width: 100%;
        height: 100%;
        box-shadow: 0rem 0rem .625rem rgba(0, 0, 0, 0.5);
    }

    .available-promotions-five{
        @extend .available-promotions-two;
        grid-column: 2/3;
    }

    .available-promotions-eight{
        @extend .available-promotions-two;
        grid-column: 3/4;
    }
    
    .available-promotions-three{
        grid-column: 1/2;
        grid-row: 3/4;
        display: flex;
        align-items: center;
        font-size: 1.375rem;
    }

    .available-promotions-six{
        @extend .available-promotions-three;
        grid-column: 2/3;
    }

    .available-promotions-nine{
        @extend .available-promotions-three;
        grid-column: 3/4;
    }
    
    .available-promotions-four{
        grid-column: 1/2;
        grid-row: 4/5;
        font-size: 1.25rem;
        list-style-position: inside; 
        text-align: left;
    }
    
    .available-promotions-seven{
        @extend .available-promotions-four;
        grid-column: 2/3;
    }
    
    .available-promotions-ten{
        @extend .available-promotions-four;
        grid-column: 3/4;
    }
}