.footer-grid{
    width: 100%;
    background-color: map-get($colors, colorPrimary);

    .first-group{
        @include grid(
            repeat(3,1fr),
            none,
            none,
            none,
            none,
        );
        width: 100%;
        max-width: 64rem;
        margin: auto;
        grid-gap: 2.5rem;
        padding: 2.8125rem 0rem;

        .box{
            figure{
                width: 100%;
                height: 100%;
                @include  flex(
                    none,
                    center,
                    center,
                    none
                );
                img{
                    width: 16.875rem;
                }
            }
            
            h2{
                color: map-get($colors, colorTitle);
                margin-bottom: 1.5625rem;
                font-size: 1.5625rem;
            }
            
            p{
                color: #efefef;
                margin-bottom: .625rem;
            }
            
            .social-network{
                a{
                    display: inline-block;
                    text-decoration: none;
                    width: 2.8125rem;
                    height: 2.8125rem;
                    line-height: 2.8125rem;
                    color: map-get($colors, colorTitle);
                    margin-right: .625rem;
                    background-color: #26554C;
                    text-align: center;
                    transition: all 300ms ease;
                    &:hover{
                        color: #1A64D3;
                    }
                }
            } 
        }
    }

    .second-group{
        background-color: #294E47;
        padding: .9375rem .625rem;
        text-align: center;
        color: map-get($colors, colorTitle);
        small{
            font-size: .9375rem;
        }
    }
}

