.image-background-gastronomy{
    img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
} 

.gastronomic-experience-grid{
    @include grid(
        repeat(2,30rem),
        2.5rem repeat(2,3.75rem) 2.5rem repeat(2,11.25rem),
        center,
        center,
        none
    );
    width: 100%;
    height: 37.5rem;
    column-gap: .9375rem;
    row-gap: .9375rem;

    .gastronomic-experience-one{
        grid-column: 1/3;
        justify-self: center;
        align-self: center;
        font-size: 1.875rem;
    }
    
    .gastronomic-experience-two{
        @extend .gastronomic-experience-one;
        grid-row: 2/4;
        font-size: 1.5625rem;
        text-align: center;
    }
    
    .gastronomic-experience-three{
        grid-column: 1/3;
        grid-row: 4/5;
        font-size: 1.5625rem;
    }
    
    .gastronomic-experience-four{
        grid-column: 1/2;
        grid-row: 5/7;
        width: 100%;
        height: 100%;
        box-shadow: 0rem 0rem .625rem rgba(0, 0, 0, 0.5);
    }
    
    .gastronomic-experience-five{
        @extend .gastronomic-experience-two;
        grid-column: 2/3;
        grid-row: 5/7;
    }
}

.regional-service-grid{
    @include grid(
        repeat(3,18.75rem),
        80px repeat(2, 1.875rem 18.75rem 7.5rem),
        center,
        center,
        none
    );
    width: 100%;
    height: 68.75rem;
    column-gap: .9375rem;
    row-gap: .625rem;

    .regional-service-one{
        grid-column: 1/4;    
        justify-self: center;
        text-align: center;
        font-size: 1.875rem;
    }
    
    .regional-service-two{
        @extend .regional-service-one;
        font-size: 1.75rem;
        grid-row: 2/3;
    }
    
    .regional-service-three{
        grid-column: 1/2;
        grid-row: 3/4;
        width: 100%;
        height: 100%;
        box-shadow: 0rem 0rem .625rem rgba(0, 0, 0, 0.5);
    }
    
    .regional-service-four{
        @extend .regional-service-three;
        grid-column: 2/3;
    }
    
    .regional-service-five{
        @extend .regional-service-three;
        grid-column: 3/4;
    }
    
    .regional-service-six{
        grid-column: 1/4;
        grid-row: 4/5;
        justify-self: center;
        text-align: center;
        font-size: 1.5rem;
    }
    
    .regional-service-seven{
        @extend .regional-service-two;
        grid-row: 5/6;
    }
    
    .regional-service-eight{
        @extend .regional-service-three;
        grid-row: 6/7;
    }
    
    .regional-service-nine{
        @extend .regional-service-eight;
        grid-column: 2/3;
    }
    
    .regional-service-ten{
        @extend .regional-service-eight;
        grid-column: 3/4;
    }
    
    .regional-service-eleven{
        @extend .regional-service-six;
        grid-row: 7/8;
    }
}