.image-background-rooms{
    img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}

.text-section-grid{
    @include grid(
        1fr,
        repeat(3,0.75fr),
        center,
        none,
        "text-section-1""text-section-2""text-section-3"
    );
    width: 85%;
    margin: 0 auto;
    gap: .625rem;
    background-color: map-get($colors, colorTitle);
    
    .text-section-one{
        grid-area: text-section-1;
        font-size: 1.3125rem;
        margin-top: 1.25rem;
        margin-bottom: .625rem;
        text-align: center;
    }
    
    .text-section-two{
        grid-area: text-section-2;
        text-align: center;
        font-size: 1.5625rem;
    }
    
    .text-section-three{
        grid-area: text-section-3;
        justify-self: center;
        align-self: center;
        color: map-get($colors, colorTitleSecondary);
    }
}

.premium-room-section-grid{
    @include grid(
        repeat(2,1fr),
        repeat(5,1fr),
        center,
        none,
        "premium-room-section-1 premium-room-section-3"
        "premium-room-section-1 premium-room-section-4"
        "premium-room-section-1 premium-room-section-4"
        "premium-room-section-1 premium-room-section-4"
        "premium-room-section-2 premium-room-section-5"
    );
    width: 80%;
    margin: 1.875rem auto;
    padding: 1.5625rem;
    background-color: #D4E7C5;
    gap: .625rem;
    &:last-child {
        margin-bottom: 6.25rem;
    }

    .premium-room-section-one{
        grid-area: premium-room-section-1;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            max-width: 100%;
        }
    }
        
    .premium-room-section-two{
        grid-area: premium-room-section-2;
        text-align: center;
    }
    
    .premium-room-section-three{
        background-color: map-get($colors, colorSecondary);
        grid-area: premium-room-section-3;
        justify-self: center;
        align-self: center;
        border: .625rem solid map-get($colors, colorSecondary);
        padding-top: .3125rem;
        text-align: center;
        color: white;
        font-size: 1.25rem;
    }
    
    .premium-room-section-four{
        grid-area: premium-room-section-4;
        font-size: 1.0625rem;
        p {
            margin-bottom: .625rem;
        }
    }
    
    .premium-room-section-five{
        grid-area: premium-room-section-5;
        text-align: center;
        input{
            height: 80%;
            width: 60%;
            background-color: #B19470; 
            color: white;
            margin: .125rem;
            cursor: pointer;
            &:hover{
                background-color: #76453B; 
            }
        }
    }
}

.standard-room-section-grid{
    @include grid(
        repeat(2,1fr),
        repeat(5,1fr),
        center,
        none,
        "standard-room-section-1 standard-room-section-3"
        "standard-room-section-1 standard-room-section-4"
        "standard-room-section-1 standard-room-section-4"
        "standard-room-section-1 standard-room-section-4"
        "standard-room-section-2 standard-room-section-5"
    );
    width: 80%;
    margin: 1.875rem auto;
    padding: 1.5625rem;
    background-color: #D4E7C5;
    gap: .625rem;
    &:last-child {
        margin-bottom: 6.25rem;
    }
    
    .standard-room-section-one{
        grid-area: standard-room-section-1;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width:100%;
            max-width: 100%;
        }
    }
    
    .standard-room-section-two{
        grid-area: standard-room-section-2;
        text-align: center;
    }
    
    .standard-room-section-three{
        background-color: map-get($colors, colorSecondary);
        grid-area: standard-room-section-3;
        justify-self: center;
        align-self: center;
        border: .625rem solid map-get($colors, colorSecondary);
        padding-top: .3125rem;
        text-align: center;
        color: map-get($colors, colorTitle);
        font-size: 1.25rem;
    }
    
    .standard-room-section-four{
        grid-area: standard-room-section-4;
        font-size: 1.0625rem;
        p {
            margin-bottom: .625rem;
        }
    }
    
    .standard-room-section-five{
        grid-area: standard-room-section-5;
        text-align: center;
        input{
            height: 80%;
            width: 60%;
            background-color: map-get($colors, colorButtonSecondary); 
            color: map-get($colors, colorTitle);
            margin: .125rem;
            cursor: pointer;
            &:hover{
                background-color: map-get($colors, colorButtonPrymary); 
            }
        }
    }
}