.main-back{
    width: 100%;
    height: 31.25rem;
    background-image: url("https://resizer.glanacion.com/resizer/v2/la-ex-finca-monterrey-conserva-las-fachadas-y-DPYMBABYLBAAPI24SGQ42MGZHM.jpg?auth=ba0896fcaee651cce277b56a8f91fcdf05f4328666fb2e783192096ad6161a58&width=1920&height=1280&quality=70&smart=true");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 2.5%;
    padding-top: 9.375rem;
    h1{
        font-size: 70px;
        color: map-get($colors, colorTitle);
        text-shadow: 1px 1px 3px black;
    }
    h2{
        color: map-get($colors, colorTitle);
        text-shadow: 1px 1px 3px black;
    }
}

.main-sections-grid{
    @include grid(
        repeat(4,1fr),
        60px repeat(3,150px),
        none,
        none,
        "section-1 section-1 section-1 section-1"
        "section-2 section-2 section-3 section-3"
        "section-2 section-2 section-5 section-5"
        "section-4 section-4 section-5 section-5"
    );
    width: 100%;
    padding: 25px;
    gap: 20px;
    background-color: map-get($colors, colorQuaternary);
    
    .main-section-1{
        grid-area: section-1;
        justify-self: center;
        align-self: center;
        text-align: center;
        font-size: 21px;
    }

    .main-section-3{
        grid-area: section-3;
        font-size: 20px;
        text-align: center;
        display: flex; 
        justify-content: center;
        align-items: center;
    }

    .main-section-4{
        @extend .main-section-3;
        grid-area: section-4;
    }

    
    .main-section-2{
        grid-area: section-2;
        img{
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }
    }

    .main-section-5{
        @extend .main-section-2;
        grid-area: section-5;
    }
}

.clients-section-grid{
    @include grid(
        1fr repeat(3,10fr) 1fr,
        60px 300px 30px,
        center,
        none,
        "client-section-1 client-section-1 client-section-1 client-section-1 client-section-1"
        "client-section-2 client-section-3 client-section-4 client-section-5 client-section-6"
        ". . client-section-7 . ."
    );
    width: 100%;
    height: 450px;
    padding: 1.5625rem;
    gap: .625rem;
    background-color: map-get($colors, colorTerteary);
    align-items: center;
    
    .client-section-one{
        grid-area: client-section-1;
        justify-self: center;
        align-self: center;
        text-align: center;
        font-size: 25px;
    }
    .client-section-two{
        grid-area: client-section-2;
        align-self: center;
    }
    .client-section-three{
        background-color:  map-get($colors, colorSecondary);
        grid-area: client-section-3;
    }

    .client-section-four{
        @extend .client-section-three;
        grid-area: client-section-4;
    }
    
    .client-section-five{
        @extend .client-section-three;
        grid-area: client-section-5;
    }
    
    .client-section-six{
        grid-area: client-section-6;
        align-self: center;
    }
    
    .client-section-seven{
        grid-area: client-section-7;
        justify-self: center;
    }
}

.client-testimony-section-grid{
    @include grid(
        75px 60px 1fr,
        35px 35px 20px 200px,
        none,
        none,
        "client-testimony-section-1 client-testimony-section-2 client-testimony-section-2"
        "client-testimony-section-1 client-testimony-section-3 client-testimony-section-4"
        "client-testimony-section-5 client-testimony-section-5 client-testimony-section-5"
        "client-testimony-section-6 client-testimony-section-6 client-testimony-section-6",
    );
    width: 100%;
    height: 300px;
    padding: .9375rem;
    gap: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    .client-testimony-section-one{
        grid-area: client-testimony-section-1;
    }
    
    .client-testimony-section-one img{
        width: 100%;
        height: 100%;
    }
    
    .client-testimony-section-two{
        grid-area: client-testimony-section-2;
        align-self: center;
        font-size: 30px;
    }
    
    .client-testimony-section-three{
        grid-area: client-testimony-section-3;
        display: flex;
        align-items: center;
    }
    
    .client-testimony-section-three img{
        width: 75%;
        height: 80%;
    }
    
    .client-testimony-section-four{
        grid-area: client-testimony-section-4;
        align-self: center;
        font-size: 1.5625rem;
    }
    
    .client-testimony-section-five{
        grid-area: client-testimony-section-5;
    }
    
    .client-testimony-section-five img{
        height: 100%;
    }
    
    .client-testimony-section-six{
        grid-area: client-testimony-section-6;
        font-size: 15px;
    }
}