$colors:(
    colorTitle: white,
    colorTitleSecondary: #76453B,
    colorText: black,
    colorPrimary: #43766C,
    colorSecondary: #789461,
    colorTerteary: #D4E7C5,
    colorQuaternary: #F8FAE5,
    colorButtonPrymary: #76453B,
    colorButtonSecondary: #B19470,
);